* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.page {
    position: relative;
    width: 100%;
}

.page img {
    width: 100%;
    display: block;
}

.button {
    position: absolute;
    display: block;
}
